# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Visual C++ cache files
*.sdf

# Executables
*.exe
*.out
*.app
*.suo
*.ilk
*.log
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.opendb
Code/IsometricElevations/breakoutJack.opensdf
